SKIP_PREFLIGHT_CHECK=true
VITE_APP_BASE_NODE_ENV=dev
VITE_APP_ENABLE_REDUX_DEVTOOLS=true
VITE_APP_EXPRESS_BASE_URL=http://localhost:5099/api/v1
VITE_APP_WEBSOCKET_BASE_URL=http://localhost:5090
VITE_APP_MAX_GRADE_FILE_SIZE=10